#fileInput {
      display: none;
    }

    body {
      margin: 0;
      padding: 0;
      display: flex;
    }

    #sidebar {
      width: 202px;
      background-color: lightgray;
      padding: 18px;
    }

    #content {
      flex: 1;
      padding: 20px;
    }

  

    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .footer {
      margin-top: 100px;
    }
    



html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: #aae;
}

canvas {
    background-color: white;
}
input {
    max-width: 90px;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    margin-top:40px;
}
